# Merging labels

In [1]:
import pandas as pd

In [2]:
labels = pd.read_csv("labels.csv")
labels.head()

   Unnamed: 0 filename                      description  tooth_number
0           0    1.jpg    Resin composite-2s, posterior             3
1           1    1.jpg        Amalgam-2 surf. prim/perm             3
2           2    1.jpg  Extraction-surgical/erupt tooth             1
3           3    1.jpg        Amalgam-2 surf. prim/perm            14
4           4    1.jpg  Extraction-surgical/erupt tooth            16

In [3]:
chosen_labels = pd.read_excel("Final Image Selection.xlsx")
chosen_labels.head()

   Unnamed: 0 Filename Assigned to  Status Notes
0         1.0    1.jpg    McKenzie     0.0   NaN
1         2.0    2.JPG    McKenzie     1.0   NaN
2         3.0    3.JPG    McKenzie     0.0   NaN
3         4.0    4.JPG    McKenzie     NaN   NaN
4         5.0    5.JPG    McKenzie    -1.0   NaN

In [4]:
chosen_labels['Filename'] = chosen_labels['Filename'].str.lower()
chosen_labels.head()

   Unnamed: 0 Filename Assigned to  Status Notes
0         1.0    1.jpg    McKenzie     0.0   NaN
1         2.0    2.jpg    McKenzie     1.0   NaN
2         3.0    3.jpg    McKenzie     0.0   NaN
3         4.0    4.jpg    McKenzie     NaN   NaN
4         5.0    5.jpg    McKenzie    -1.0   NaN

In [5]:
chosen_labels = chosen_labels[chosen_labels['Status'] == 1]
chosen_labels.head()

    Unnamed: 0 Filename Assigned to  Status Notes
1          2.0    2.jpg    McKenzie     1.0   NaN
15        16.0   16.jpg    McKenzie     1.0   NaN
17        18.0   18.jpg    McKenzie     1.0   NaN
19        20.0   20.jpg    McKenzie     1.0   NaN
21        22.0   22.jpg    McKenzie     1.0   NaN

In [6]:
files = chosen_labels['Filename']
files

1          2.jpg
15        16.jpg
17        18.jpg
19        20.jpg
21        22.jpg
          ...
1368    1369.jpg
1375    1376.jpg
1376    1377.jpg
1390    1391.jpg
1399    1400.jpg
Name: Filename, Length: 315, dtype: object

In [7]:
filtered_labels = labels[labels['filename'].isin(files)]

In [8]:
top10 = filtered_labels.groupby('description')['tooth_number'].count().sort_values(ascending = False).head(10)
top10

description
Resin composite-1s, posterior      185
Resin composite-2s, posterior      182
Extraction-impacted/compl bony     141
Extraction-surgical/erupt tooth    133
Unerupted tooth                    113
Sealant-per tooth                   88
Extraction-impacted/part bony       88
Crown-porcelain/ceramic substr      76
Amalgam-1 surf. prim/perm           71
Watch Tooth                         69
Name: tooth_number, dtype: int64

In [9]:
filtered_labels.shape

(1734, 4)

In [10]:
filtered_labels['filename'].nunique()

302

In [11]:
def see_teeth_by_anomaly(input_list, issue):
    grouped_list = input_list.groupby(['description', 'tooth_number'])['filename'].count().reset_index().sort_values(['description', 'tooth_number'])

    return(grouped_list[grouped_list.reset_index()['description'] == issue])

In [12]:
see_teeth_by_anomaly(filtered_labels, 'Unerupted tooth')

         description  tooth_number  filename
426  Unerupted tooth             1        22
427  Unerupted tooth             2         4
428  Unerupted tooth             3         1
429  Unerupted tooth             6         1
430  Unerupted tooth            11         1
431  Unerupted tooth            15         3
432  Unerupted tooth            16        21
433  Unerupted tooth            17        30
434  Unerupted tooth            18         3
435  Unerupted tooth            31         3
436  Unerupted tooth            32        24